<%= simple_form_for @pic, html: {multipart: true } do |f| %>
	<% if @pic.errors.any? %>

	<%= pluralize(@pic.errors.count, "error") %>
	prevented this Pic from saving
	<ul>
		<% @pic.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	<% end %>
	</ul>
	
	<%= f.input :title %>
	<%= f.input :image %>
	<%= f.input :description %>
	
	<div class="field">
    <%= f.input :address %>
  </div>

  <div class="field">
    <%= f.input :latitude %><span>(leave empty)</span>
  </div>

  <div class="field">
    <%= f.input :longitude %><span>(leave empty)</span>

	<br>
	<%= f.button :submit %>


<% end %>