<div style="text-align:center">

<%= will_paginate @pics %>

	<h2><%= link_to 'Create new pic!', new_pic_path %></h2>
	
	<%= form_tag pics_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
	<div id="pics">
		<%= render @pics %>
	</div>
</div>

