<div style="text-align: center;">
<%= image_tag @pic.image.url %>
<h1 ><%= @pic.title %></h1>

<%= @pic.description %>

<p> Posted by: <%= @pic.user.email %> </p>


<br/>
	<%= link_to "Back", root_path %>
	<%= link_to "like", like_pic_path(@pic), method: :put %>
	<%= @pic.get_upvotes.size %>

<% if current_user %>
	<% if current_user == @pic.user || current_user.admin == true %>
		<%= link_to 'Edit', edit_pic_path %>
		<%= link_to 'Delete', pic_path, method: :delete, data: {confirm: "Are you sure?"} %>
	<% end %>
<% end %>
</div>